<div style="text-align: center;">
    <div style="font-family: sans-serif;display: inline-block;max-width: 300px;">
        <h3 style="color: #218838;">
            {{ "Hi, %name%!"|trans({'%name%': userName}) }}
        </h3>
        <p>{{ "To reset your password, please visit <a href='%resetLink%' style='color: #218838;'>here</a>"|trans({'%resetLink%': resetLink})|raw }}</p>
        <p>{{ "This link will expire in %tokenLifetime% hour(s).."|trans({'%tokenLifetime%': tokenLifetime|date('g')}) }}</p>
        <p>{{ "Cheers!"|trans }}</p>
    </div>
</div>
